# Series

## Pure Python Series

In [3]:
ser = {
    'index':[0, 1, 2, 3],
    'data':[145, 142, 38, 33],
    'name':'songs'
}

In [4]:
def get(ser, idx):
    value_idx = ser['index'].index(idx)
    return ser['data'][value_idx]

In [5]:
get(ser, 1)

142

In [6]:
songs = {
    'index':['Paul', 'John', 'George', 'Ringo'],
    'data':[145, 142, 38, 13],
    'name':'counts'
}

In [8]:
get(songs, 'John')

142

## Pandas Series

In [10]:
import pandas as pd

songs2 = pd.Series([145, 142, 38, 13],
                  name='counts')

In [11]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [12]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
songs3 = pd.Series([145, 142, 38, 13],
                  name='counts',
                  index=['Paul', 'John', 'George', 'Ringo'])

songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [14]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [15]:
class Foo:
    pass

ringo = pd.Series(
    ['Righcard', 'Starkey', 13, Foo()],
    name='ringo')

ringo

0                                   Righcard
1                                    Starkey
2                                         13
3    <__main__.Foo object at 0x7f53d3800610>
Name: ringo, dtype: object

## the NaN value

In [16]:
nan_ser = pd.Series([2, None],
                   index=['Ono', 'Clapton'])

nan_ser   # NaN IS THE FLOAT TYPE!!!

Ono        2.0
Clapton    NaN
dtype: float64

In [17]:
nan_ser.count()

1

## Similar to Numpy

In [18]:
import numpy as np
numpy_ser = np.array([145, 142, 38, 13])
songs3[1]

142

In [19]:
numpy_ser[1]

142

In [20]:
songs3.mean()

84.5

In [21]:
numpy_ser.mean()

84.5

In [23]:
mask = songs3 > songs3.median()  # boolean array

mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [24]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [25]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

# Series CRUD

## Creation

In [26]:
george_dupe = pd.Series([10, 7, 1, 22], 
                       index=['1968', '1969', '1970', '1970'],
                       name='George Songs')

george_dupe

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64